header {
  position: sticky;
  top: 0;
  padding: 1em;
  align-items: center;
  background: black;
  z-index: 100;
}
header nav {
  width: 100%;
  align-items: baseline;
  justify-content: flex-end;
}
header nav.menu {
  flex-wrap: wrap;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  display: block;
  padding: 10px;
  min-width: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header nav ul li button {
  background: none;
  border: none;
  color: inherit;
}
header nav ul li button:hover {
  text-decoration: underline;
  color: #e60de6;
}
header nav ul li i {
  font-size: larger;
}
header nav input[type=text],
header nav input[type=submit] {
  padding: 0 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: inherit;
  background: inherit;
}
header .menu-toggle {
  display: flex;
  justify-content: flex-end;
}
header .menu-toggle span {
  width: 35px;
  display: flex;
  justify-content: flex-end;
  height: 5px;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: 1s;
}
header .menu-toggle span::before, header .menu-toggle span::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: inherit;
}
header .menu-toggle span::before {
  top: 13px;
}
header .menu-toggle span::after {
  bottom: 13px;
}
header .mobile-menu {
  position: fixed;
  top: 4em;
  left: 0;
  height: 200vw;
  padding-top: 20px;
  background: inherit;
  z-index: 100;
}
header .mobile-menu .row {
  justify-content: center;
}
header .mobile-menu ul {
  flex-direction: column;
}

.sidebar {
  height: 100%;
  margin-top: 2em;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  display: block;
}

.mobile-sidebar {
  width: 100%;
  max-width: 600px;
  position: fixed;
  z-index: 10;
  top: 20%;
  right: 0;
  bottom: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  transform: translateX(92%);
  transition: all 0.3s ease-in;
}
.mobile-sidebar.open {
  transform: translateX(50%);
}
.mobile-sidebar div:first-of-type {
  display: block;
  width: 2rem;
  height: fit-content;
  padding: 10px 0px;
  color: #FFFFFF;
  background: black;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.mobile-sidebar div:first-of-type p {
  margin-top: 5.5rem;
  font-size: 17px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  overflow-wrap: normal;
}
.mobile-sidebar div:last-of-type {
  height: 200vw;
  width: inherit;
  background-color: #111;
  overflow-x: hidden;
  padding: 12px 10px;
}
.mobile-sidebar div:last-of-type a {
  padding: 5px 20px;
  display: block;
}

footer {
  width: 100%;
  padding: 1em;
  background: linear-gradient(#1d1d1d, black);
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}
footer ul li {
  display: block;
  padding: 10px;
  min-width: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .row {
  justify-content: center;
}

h1 {
  color: #08fdd8;
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: #e60de6;
}

#login-form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 50px;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
  transition: 1s;
  /* Modal Content/Box */
}
@media screen and (min-width: 992px) {
  #login-form {
    left: 16em;
    right: 16em;
  }
}
@media screen and (min-width: 1500px) {
  #login-form {
    left: 24em;
    right: 24em;
  }
}
@media screen and (max-width: 991px) {
  #login-form {
    left: 4em;
    right: 4em;
  }
}
@media screen and (min-width: 0) and (max-width: 575px) {
  #login-form {
    left: 0;
    width: 100%;
  }
}
#login-form form {
  background-color: #1d1d1d;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 70%;
  /* Could be more or less, depending on screen size */
  /*  Zoom Animation */
}
#login-form form section {
  padding: 16px;
}
#login-form form section:last-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#1d1d1d, black);
}
#login-form form section:last-of-type span.psw {
  float: right;
}
@media screen and (max-width: 767px) {
  #login-form form section:last-of-type span.psw {
    display: block;
    float: none;
  }
}
#login-form form section:last-of-type .cancelbtn {
  width: auto;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 1em;
  background-color: #f44336;
}
@media screen and (max-width: 767px) {
  #login-form form section:last-of-type .cancelbtn {
    width: 100%;
  }
}
#login-form form section:last-of-type .cancelbtn:hover {
  filter: contrast(200%);
  box-shadow: 0 0 20px 5px red;
}
#login-form form section input[type=text],
#login-form form section input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
}
#login-form form section button {
  width: 100%;
}
#login-form form .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  /* The Close Button (x) */
}
#login-form form .imgcontainer img {
  width: 40%;
}
#login-form form .imgcontainer .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: red;
  font-size: 35px;
  font-weight: bold;
}
#login-form form .imgcontainer .close:hover, #login-form form .imgcontainer .close:focus {
  color: red;
  cursor: pointer;
}
#login-form form .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#register {
  padding: 20px;
}
#register fieldset div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
#register fieldset div #profileImage {
  height: 100px;
  cursor: pointer;
}
#register fieldset div #imageUpload {
  display: block;
}
#register fieldset.required label::after {
  content: "*";
  margin-left: 5px;
  color: #e60de6;
}
#register fieldset.required.invalid input {
  border: 2px solid red;
}
#register fieldset.required.invalid input::placeholder {
  color: red;
  font-style: italic;
}
#register fieldset input[type=text],
#register fieldset input[type=password],
#register fieldset textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
}
#register input[type=submit] {
  width: 100%;
}
#register a {
  color: #08fdd8;
}
#register .row {
  margin-top: 30px;
}
#register .sign-In {
  text-align: center;
}
#register .sign-In button {
  color: #08fdd8;
  background: none;
  border: none;
}
#register .sign-In button:hover {
  text-decoration: underline;
  color: #e60de6;
}

.form-respond {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-respond div {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid gray;
  color: inherit;
  background-color: #1d1d1d;
}
.form-respond div h3 {
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.form-respond div p:last-of-type {
  line-height: 20px;
  margin-bottom: 20px;
}

body {
  background: #1d1d1d;
  color: #FFFFFF;
  font-family: cursive;
}

.logo {
  width: 100%;
  filter: invert(1);
}

form {
  color: #FFFFFF;
}

.hidden {
  display: none;
}

.btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 1em;
  text-decoration: none;
  text-align: center;
  background-color: #08fdd8;
  color: #1d1d1d;
}
.btn:focus-within {
  color: #FFFFFF;
}
.btn:hover {
  background-color: #e60de6;
  color: #FFFFFF;
}
.btn:focus {
  background-color: #e0113e;
}
.btn:active {
  background-color: darkblue;
}

.anime-entry {
  margin-top: 2em;
}
.anime-entry a {
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
}
.anime-entry a img {
  height: 12em;
  object-fit: contain;
}

.anime-list-entry {
  margin-top: 2em;
}
.anime-list-entry .row {
  margin: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  border-bottom: 1px dotted grey;
}
.anime-list-entry .row aside {
  padding: 20px;
  text-align: initial;
}
.anime-list-entry .row aside a {
  color: #08fdd8;
}
.anime-list-entry .row aside .options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.anime-list-entry .row aside .options button {
  padding: 5px;
}
.anime-list-entry .row aside .options i {
  font-size: x-large;
  cursor: pointer;
}
.anime-list-entry .row aside .options i:hover {
  color: #e60de6;
}
.anime-list-entry .row img {
  height: 12em;
  object-fit: contain;
  transition: 1s;
}
.anime-list-entry .row img:hover {
  transform: scale(0.8);
}

.single {
  margin-top: 2em;
}
.single .info {
  background: black;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .single .info {
    margin-right: 10px;
  }
}
.single .info img {
  width: 100%;
}
.single .episode p {
  cursor: pointer;
  border-bottom: 1px dotted grey;
}

.profile {
  margin-top: 2em;
}
.profile .profile-info {
  padding: 20px;
  align-items: center;
  background: linear-gradient(black, #1d1d1d);
}
.profile .profile-info img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
