<%- include('head'); %>

<body>
	<div class="container">
		<header>
			<div class="row">
				<div id="branding" class="col-6 col-md-3">
					<a href="/home"
						><img src="/img/logo.png" alt="logo" class="logo"
					/></a>
				</div>

				<div class="menu-toggle d-md-none col-6">
					<span></span>
				</div>
				<aside class="d-none d-md-flex col-6 col-md-9">
					<div class="row">
						<ul>
							<li>
								<form action="/logout?_method=DELETE" method="POST">
									<button type="submit"><%= user.username %> Log out</button>
								</form>
							</li>
							<li>
								<% if (user.tumbnail){ %>
								<a href="/My-profile"
									><img
										id="profile"
										src="/uploads/users/<%= user.tumbnail %>"
										alt="User profile picture"
								/></a>

								<% } else { %>
								<a href="/My-profile"
									><i class="bi bi-person-circle"></i
								></a>
									<p>
								<% } %>
							</li>
						</ul>
					</div>

					<div class="row">
						<nav class="menu">
							<ul>
								<li><a href="/home">Home</a></li>
								<li><a href="/my-list">Favorite</a></li>
								<li>
									<form action="/anime/search" method="POST">
										<input
											type="search"
											name="search"
											placeholder="Search.."
											id="search"
										/>
										<button type="submit">
											<i class="bi bi-search"></i>
										</button>
									</form>
								</li>
							</ul>
						</nav>
					</div>
				</aside>

				<!-- Mobile menu -->
				<nav class="d-none col-md-10 mobile-menu">
					<div class="row">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/my-list">My list</a></li>
							<li><button onclick="openLogin()">Logout</button></li>
							<li><a href="/profile">Profile</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

