<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>D-Anime List</title>
</head>

<body>
    <div class="container">
        <header class="row">
            <div id="branding" class="col-6 col-md-2">
                <a href="/home"><img src="/img/logo.png" alt="logo" class="logo"></a>
            </div>

            <nav class="d-none d-md-flex col-md-10 menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/my-list">Favorite</a></li>
                    <li><button onclick="openLogin()">Login</button></li>
                    <li><a href="/profile"><i class="bi bi-person-circle"></i></a></li>
                </ul>

            </nav>

            <div class="menu-toggle d-md-none col-6">
                <span></span>
            </div>

            <!-- Mobile menu -->
            <nav class="d-none col-md-10 mobile-menu">
                <div class="row">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/my-list">My list</a></li>
                        <li><button onclick="openLogin()">Login</button></li>
                        <li><a href="/profile">Profile</a></li>
                    </ul>

                </div>
            </nav>
        </header>

        <%- include('login'); %>