<img src="<%= user.tumbnail %>" alt="User profile">
<h3><%= user.name %></h3>

<!-- lijst met dezelfde anime -->

<div class="match">
    <!-- linked naar afspraken -->
    <a href="#">Like</a>
    <a href="">Dislike</a>
</div>