<%- include('partials/header'); %>

    <main>
       <div class="row">
        <section class="anime-list-entry col-12 col-md-10">
            <!-- <% animes.forEach( anime =>{ %> -->
                <!-- hier komt regel dat specifieke categoriepakt denk ik -->
            <!-- <% if (){%> -->
            <!-- <div class="row">
                <%- include('partials/loop/anime', {
                            anime: anime
                        }); %>
            </div> -->
            <!-- <% } -->
        <!-- });%> -->
        <!-- <% console.log(categorie); %> -->
        </section>

        <%- include('partials/sidebar'); %>
    </div>
    </main>

<%- include('partials/footer'); %>