<%- include('partials/header'); %>

<main>
    <div class="row">
        <section class="anime-list-entry col-12 col-md-10">
            
            <!-- for each user check witch anime == "y" -->
            <!-- if anime overeen komt met eigen anime == "y" -->
            <!-- display user -->
            <!-- else "sorry no matches found" -->

        </section>

        <%- include('partials/sidebar'); %>
    </div>
</main>

<%- include('partials/footer'); %>