<%- include('partials/header'); %>

    <main class="row">
        <!-- if statement based on url/click diffrent template -->
        <%- include('partials/content'); %>

        
    </main>



<%- include('partials/footer'); %>