<%- include('partials/header'); %>

    <main class="row">
    
        <%- include('partials/content'); %>
        

        <%- include('partials/sidebar'); %>
    </main>



<%- include('partials/footer'); %>