<%- include('partials/header'); %>

<main>
    <div class="row">
        <section class="anime-list-entry dragdrop col-12 col-md-10">
            <% animes.forEach( anime =>{ %>
            <% if (anime.like == true){%>
            <div class="row draggable" draggable="true">
                <%- include('partials/loop/list', {
                            anime: anime
                        }); %>
            </div>
            <% }
        });%>
        </section>

        <%- include('partials/sidebar'); %>
    </div>
</main>

<%- include('partials/footer'); %>