<%- include('partials/header'); %>

    <main>
        <%- include('partials/new'); %>

         <div class="form-respond hidden">
            <div>
                <h2>Succesful!</h2>
                <p id="serverRespond"></p>
                <a href="/" class="btn">Close</a>
            </div>
        </div>
    </main>

<%- include('partials/footer'); %>