<section class="anime-entry col-12 col-md-10">
    <div class="row">

        <% animes.forEach( anime =>{ %>
         <%- include('loop/anime', {
             anime: anime
         }); %>
         <% }); %>

        <!-- <a href="#" class="col-6 col-md-4 col-lg-3 d-flex">
            <img src="/img/test4.jpg" alt="">
            <h3>My Hero Academia</h3>
            <div class="review">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
            </div>
        </a>  -->

    </div>
</section>