<div class="row">
    <footer>
        <section class="row">
            <ul>
                <li>Klas: Tech 5</li>
                <li>Studentennummer: 500......</li>
                <li>Block-tech</li>
                <li>Docent: ... ......</li>
            </ul>
        </section>

        <section class="row">
            <p>&copy; David Dankwah</p>
        </section>
    </footer>
</div>

</div>
</body>
<script src="/js/menu.js"></script>
<script src="/js/validation.js" type="module"></script>
<script src="/js/functions.js"></script>