<div class="row">
    <footer>
        <section class="row">
            <ul>
                <li>Klas: Tech 5</li>
                <li>Studentennummer: 500839763</li>
                <li>Block-tech</li>
                <li>Code: NodeJS, EJS, JS, HTML5, CSS, SASS, MongoDB</li>
            </ul>
        </section>

        <section class="row">
            <p>&copy; David Dankwah</p>
        </section>
    </footer>
</div>

</div>
</body>

<script src="/js/menu.js"></script>
<script src="/js/register-valid.js" type="module"></script>
<script src="/js/anime-valid.js" type="module"></script>
<script src="/js/API/drag-drop.js"></script>
<script src="/js/API/quotes.js"></script>
<script src="/js/functions.js"></script>