<section class="anime-entry col-12 col-md-10">
    <div class="row">

        <% animes.forEach( anime =>{ %>
         <%- include('loop/anime', {
             anime: anime
         }); %>
         <% }); %>

    </div>
</section>

<%- include('sidebar'); %>