  <div class="row">
      <form action="/new" method="POST" id="new-anime">

          <h1>New anime</h1>
          <p>Please fill in this form to add a new anime.</p>
          <hr>

          <section class="row">
              <div class="col-12 col-md-6">
                  <section>

                      <fieldset class="required">
                          <label for="tumbnail">Anime cover</label>
                          <div>
                              <img src="/img/default-user.jpg" id="tumbnail" alt="Anime cover">
                              <input id="imageUpload" type="file" name="tumbnail" placeholder="Anime Cover" capture>
                          </div>
                      </fieldset>

                      <fieldset class="required">
                          <label for="name">Name</label>
                          <input type="text" placeholder="Enter anime name" name="name" id="name">
                      </fieldset>

                      <fieldset class="required">
                          <p>what rating do you give your anime?</p>
                            <input type="radio" id="rate1" name="rating" value="1">
                            <label for="rate1">1</label>
                            <input type="radio" id="rate2" name="rating" value="2">
                            <label for="rate2">2</label>
                            <input type="radio" id="rate3" name="rating" value="3">
                            <label for="rate3">3</label>
                          <input type="radio" id="rate4" name="rating" value="4">
                            <label for="rate4">4</label>
                          <input type="radio" id="rate5" name="rating" value="5">
                            <label for="rate5">5</label>
                      </fieldset>

                  </section>
              </div>

              <div class="col-12 col-md-6">
                  <section>

                      <fieldset class="required">
                          <label for="genre">Choose a Gerne:</label><br>
                          <select id="genre" name="genre">
                              <% genres.forEach( genre =>{ %>
                              <option value="<%= genre %>"><%= genre %></option>
                              <% });%>
                          </select>
                      </fieldset>

                      <fieldset class="required">
                          <label for="episodes">Episodes</label>
                          <input type="number" placeholder="Enter how many episodes" name="episodes" id="episodes">
                      </fieldset>

                      <fieldset>
                          <label for="storyline">Description about your anime</label>
                          <textarea id="storyline" name="storyline" rows="5" cols="50"></textarea>
                      </fieldset>

                      <hr>
                      <input type="submit" class="btn" id="submit" value="Compleet">
                  </section>
              </div>
          </section>

      </form>
  </div>