<aside class=" col-md-2">

    <a href="#about">Murder</a>
    <a href="#services">Fantasy</a>
    <a href="#clients">Adventure</a>
    <a href="#contact">Random</a>
    <a href="#about">Murder</a>
    <a href="#services">Fantasy</a>
    <a href="#clients">Adventure</a>
    <a href="#contact">Random</a>
    <a href="#about">Murder</a>
    <a href="#services">Fantasy</a>
    <a href="#clients">Adventure</a>
    <a href="#contact">Random</a>

</aside>