<aside class="d-none d-md-block col-md-2 sidebar">

    <a href="#about">Murder</a>
    <a href="#services">Fantasy</a>
    <a href="#clients">Adventure</a>
    <a href="#contact">Random</a>
    <a href="#about">Murder</a>
    <a href="#services">Fantasy</a>
    <a href="#clients">Adventure</a>
    <a href="#contact">Random</a>
    <a href="#about">Murder</a>
    <a href="#services">Fantasy</a>
    <a href="#clients">Adventure</a>
    <a href="#contact">Random</a>

</aside>



<aside class=" d-md-none mobile-sidebar">
    <div>
        <p>Categories</p>
    </div>
    <div>
        <a href="#about">Murder</a>
        <a href="#services">Fantasy</a>
        <a href="#clients">Adventure</a>
        <a href="#contact">Random</a>
        <a href="#about">Murder</a>
        <a href="#services">Fantasy</a>
        <a href="#clients">Adventure</a>
        <a href="#contact">Random</a>
        <a href="#about">Murder</a>
        <a href="#services">Fantasy</a>
        <a href="#clients">Adventure</a>
        <a href="#contact">Random</a>
    </div>
</aside>