header {
    position: sticky;
    top: 0;
    padding: 1em;
    align-items: center;
    background: color(secondary);
    z-index: 100;

    nav {
        width: 100%;
        align-items: baseline;
        justify-content: flex-end;

        &.menu {
            flex-wrap: wrap;
        }

        ul {
            display: flex;
            list-style: none;

            li {
                display: block;
                padding: 10px;
                min-width: 48px;
                justify-content: center;
                align-items: center;
                text-align: center;

                button {
                    background: none;
                    border: none;
                    color: inherit;

                    &:hover {
                        text-decoration: underline;
                        color: color(hover);
                    }
                }

                i {
                    font-size: larger;
                }
            }
        }

        input[type=text],
        input[type=submit] {
            padding: 0 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: inherit;
            background: inherit;
        }

    }

    .menu-toggle {
        display: flex;
        justify-content: flex-end;

        span {
            width: 35px;
            display: flex;
            justify-content: flex-end;
            height: 5px;
            border-radius: 5px;
            background-color: color(quaternary);
            transition: 1s;

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 40px;
                height: 5px;
                border-radius: 5px;
                background-color: inherit;
            }

            &::before {
                top: 13px;
            }

            &::after {
                bottom: 13px;
            }
        }
    }

    .mobile-menu {
        position: fixed;
        top: 5em;
        left: 0;
        height: 200vw;
        padding-top: 20px;
        background: inherit;
        z-index: 2;

        .row {
            justify-content: center;
        }

        ul {
            flex-direction: column;
        }
    }
}

.sidebar {
    height: 100%;
    margin-top: 2em;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 0;

    a {
        padding: 6px 8px 6px;
        display: block;

        &::first-letter{
            text-transform: uppercase;
        }
    }
}

.mobile-sidebar {
    width: 100%;
    max-width: 600px;
    position: fixed;
    z-index: 10;
    top: 20%;
    right: 0;
    bottom: auto;
    left: auto;
    display: flex;
    flex-direction: row;
    transform: translateX(92%);
    transition: all 0.3s ease-in;

    &.open {
        transform: translateX(50%);
    }

    div:first-of-type {
        display: block;
        width: 2rem;
        height: fit-content;
        padding: 10px 0px;
        color: color(quaternary);
        background: color(secondary);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;

        p {
            margin-top: 5.5rem;
            font-size: 17px;
            transform: rotate(-90deg);
            text-transform: uppercase;
            overflow-wrap: normal;
        }
    }

    div:last-of-type {
        height: 200vw;
        width: inherit;
        background-color: #111;
        overflow-x: hidden;
        padding: 12px 10px;

        a {
            padding: 5px 20px;
            display: block;
            
            &::first-letter{
            text-transform: uppercase;
        }
        }
    }
}

footer {
    margin-top: 20px;
    width: 100%;
    padding: 1em;
    background: linear-gradient(color(primary), color(secondary));

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap;

        li {
            display: block;
            padding: 10px;
            min-width: 48px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .row {
        justify-content: center;
    }
}