h1 {
    color: color(tertiary);
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    margin-top: 10px;
    font-size: 20px;
}


a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        color: color(hover);
    }

    &:focus {
        color: color(focus);
    }

    &:active {
        color: color(active);
    }
}