.not-found {
    margin-top: 2em;
    display: grid;
    place-items: center;

    h1{
        font-size: 100px;
        font-weight: bold;
    }
    a{
        margin-top: 20px;
    }
    img{
        margin-left: 50px;
        height: 200px;
    }
}