header {
    padding: 1em;
    background: color(secondary);

    nav {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;

        ul {
            display: flex;
            list-style: none;

            li {
                display: block;
                padding: 10px;
                min-width: 48px;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }

        input[type=text],
        input[type=submit] {
            // width: 100%;
            padding: 0 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            background: inherit;
        }

    }
}

aside {
    height: 100%;
    margin-top: 2em;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;

    a {
        padding: 6px 8px 6px 16px;
        display: block;
    }
}

footer {
    width: 100%;
    padding: 1em;
    background: linear-gradient(color(primary), color(secondary));

    ul {
        display: flex;
        list-style: none;

        li {
            display: block;
            padding: 10px;
            min-width: 48px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .row {
        justify-content: center;
    }
}