@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/function';
@import 'structure';
@import 'nav';
@import 'text';
@import 'form';
@import '404';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}