* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1d1d1d;
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
}

.logo {
  width: 100%;
  filter: invert(1);
}

.hidden {
  display: none;
}

.blur {
  filter: blur(10px);
}

.draggable {
  cursor: move;
}
.draggable.dragging {
  opacity: 0.5;
}

.btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 1em;
  text-decoration: none;
  text-align: center;
  background-color: #08fdd8;
  color: #1d1d1d;
}
.btn:focus-within {
  color: #FFFFFF;
}
.btn:hover {
  background-color: #e60de6;
  color: #FFFFFF;
}
.btn:focus {
  background-color: #e0113e;
}
.btn:active {
  background-color: darkblue;
}

.anime-entry {
  margin-top: 2em;
}
.anime-entry a {
  margin-bottom: 10px;
  flex-direction: column;
  text-align: center;
}
.anime-entry a#add-new-anime img {
  padding: 14px;
  border: 2px solid black;
}
.anime-entry a#add-new-anime:hover img {
  border-color: gray;
  filter: contrast(0.5);
}
.anime-entry a img {
  height: 14em;
  width: 10em;
  object-fit: unset;
}

.anime-list-entry {
  margin-top: 2em;
}
.anime-list-entry .row {
  margin: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  border-bottom: 1px dotted grey;
}
.anime-list-entry .row aside {
  padding: 20px;
  text-align: initial;
}
.anime-list-entry .row aside section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.anime-list-entry .row aside section button {
  background: none;
  border: none;
}
.anime-list-entry .row aside section button i {
  color: #08fdd8;
  font-size: 25px;
  cursor: pointer;
}
.anime-list-entry .row aside section button i:hover {
  color: #e60de6;
}
.anime-list-entry .row aside section button i.bi-heart-fill {
  color: red;
}
.anime-list-entry .row aside a {
  color: #08fdd8;
}
.anime-list-entry .row aside p {
  position: relative;
  display: block;
  height: 100px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.anime-list-entry .row aside .options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.anime-list-entry .row aside .options div {
  display: flex;
}
.anime-list-entry .row aside .options div button {
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background: transparent;
  color: #08fdd8;
  border-color: #08fdd8;
}
.anime-list-entry .row aside .options div button:hover {
  border-color: black;
  background: #e60de6;
  color: black;
}
.anime-list-entry .row aside .options div button#remove {
  background: none;
  border: none;
  padding: none;
}
.anime-list-entry .row aside .options div button#remove i {
  color: #08fdd8;
  font-size: x-large;
  cursor: pointer;
}
.anime-list-entry .row aside .options div button#remove i:hover {
  color: #e60de6;
}
.anime-list-entry .row img {
  height: 14em;
  width: 100%;
  object-fit: unset;
  transition: 1s;
}
.anime-list-entry .row img:hover {
  transform: scale(0.8);
}

.single {
  margin-top: 2em;
}
.single .detail {
  padding: 20px;
  background: black;
}
@media screen and (min-width: 768px) {
  .single .detail {
    margin-right: 10px;
  }
}
.single .detail img {
  width: 100%;
  height: 17em;
  object-fit: contain;
}
.single .detail .rating {
  text-align: center;
}
.single .detail .info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single .detail .info div #delete {
  background: none;
  border: none;
  padding: none;
  margin-left: 20px;
}
.single .detail .info div i {
  color: #08fdd8;
  font-size: x-large;
  cursor: pointer;
}
.single .detail .info div i:hover {
  color: #e60de6;
}
.single .quote {
  margin-top: 2em;
}
.single .quote h4 {
  text-align: center;
}
.single .quote p {
  font-style: italic;
  text-align: center;
}
.single .quote p#quote-name {
  color: #e60de6;
}

.profile {
  margin-top: 2em;
}
.profile .profile-info {
  padding: 20px;
  align-items: center;
  background: linear-gradient(black, #1d1d1d);
}
@media screen and (max-width: 991px) {
  .profile .profile-info {
    justify-content: center;
    text-align: center;
  }
}
.profile .profile-info img {
  width: 60%;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .profile .profile-info img {
    width: 100%;
    height: 175px;
  }
}

header {
  position: sticky;
  top: 0;
  padding: 1em;
  align-items: center;
  background: black;
  z-index: 100;
}
header nav {
  width: 100%;
  align-items: baseline;
  justify-content: flex-end;
}
header nav.menu {
  flex-wrap: wrap;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  display: block;
  padding: 10px;
  min-width: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header nav ul li button {
  background: none;
  border: none;
  color: inherit;
}
header nav ul li button:hover {
  text-decoration: underline;
  color: #e60de6;
}
header nav ul li i {
  font-size: larger;
}
header nav input[type=text],
header nav input[type=submit] {
  padding: 0 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: inherit;
  background: inherit;
}
header .menu-toggle {
  display: flex;
  justify-content: flex-end;
}
header .menu-toggle span {
  width: 35px;
  display: flex;
  justify-content: flex-end;
  height: 5px;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: 1s;
}
header .menu-toggle span::before, header .menu-toggle span::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: inherit;
}
header .menu-toggle span::before {
  top: 13px;
}
header .menu-toggle span::after {
  bottom: 13px;
}
header .mobile-menu {
  position: fixed;
  top: 5em;
  left: 0;
  height: 200vw;
  padding-top: 20px;
  background: inherit;
  z-index: 2;
}
header .mobile-menu .row {
  justify-content: center;
}
header .mobile-menu ul {
  flex-direction: column;
}

.sidebar {
  height: 100%;
  margin-top: 2em;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 0;
}
.sidebar a {
  padding: 6px 8px 6px;
  display: block;
}
.sidebar a::first-letter {
  text-transform: uppercase;
}

.mobile-sidebar {
  width: 100%;
  max-width: 600px;
  position: fixed;
  z-index: 10;
  top: 20%;
  right: 0;
  bottom: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  transform: translateX(92%);
  transition: all 0.3s ease-in;
}
.mobile-sidebar.open {
  transform: translateX(50%);
}
.mobile-sidebar div:first-of-type {
  display: block;
  width: 2rem;
  height: fit-content;
  padding: 10px 0px;
  color: #FFFFFF;
  background: black;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.mobile-sidebar div:first-of-type p {
  margin-top: 5.5rem;
  font-size: 17px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  overflow-wrap: normal;
}
.mobile-sidebar div:last-of-type {
  height: 200vw;
  width: inherit;
  background-color: #111;
  overflow-x: hidden;
  padding: 12px 10px;
}
.mobile-sidebar div:last-of-type a {
  padding: 5px 20px;
  display: block;
}
.mobile-sidebar div:last-of-type a::first-letter {
  text-transform: uppercase;
}

footer {
  margin-top: 20px;
  width: 100%;
  padding: 1em;
  background: linear-gradient(#1d1d1d, black);
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}
footer ul li {
  display: block;
  padding: 10px;
  min-width: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .row {
  justify-content: center;
}

h1 {
  color: #08fdd8;
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  margin-top: 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: #e60de6;
}
a:focus {
  color: #e0113e;
}
a:active {
  color: darkblue;
}

form {
  color: #FFFFFF;
}

#login-form {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 5px;
  height: 100%;
  padding-top: 60px;
  transition: 1s;
  /* Modal Content/Box */
}
@media screen and (min-width: 992px) {
  #login-form {
    left: 16em;
    right: 16em;
  }
}
@media screen and (min-width: 1500px) {
  #login-form {
    left: 24em;
    right: 24em;
  }
}
@media screen and (max-width: 991px) {
  #login-form {
    left: 4em;
    right: 4em;
  }
}
@media screen and (min-width: 0) and (max-width: 575px) {
  #login-form {
    left: 0;
    width: 100%;
  }
}
#login-form form {
  width: 70%;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  background-color: #1d1d1d;
  /*  Zoom Animation */
}
#login-form form section {
  padding: 16px;
}
#login-form form section:last-of-type {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#1d1d1d, black);
}
#login-form form section:last-of-type span.psw {
  float: right;
}
@media screen and (max-width: 767px) {
  #login-form form section:last-of-type span.psw {
    display: block;
    float: none;
  }
}
#login-form form section:last-of-type .cancelbtn {
  width: auto;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 1em;
  background-color: #f44336;
}
@media screen and (max-width: 767px) {
  #login-form form section:last-of-type .cancelbtn {
    width: 100%;
  }
}
#login-form form section:last-of-type .cancelbtn:hover {
  filter: contrast(200%);
  box-shadow: 0 0 20px 5px red;
}
#login-form form section input[type=text],
#login-form form section input[type=password] {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
}
#login-form form section button {
  width: 100%;
}
#login-form form .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  /* The Close Button (x) */
}
#login-form form .imgcontainer img {
  width: 40%;
}
#login-form form .imgcontainer .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: red;
  font-size: 35px;
  font-weight: bold;
}
#login-form form .imgcontainer .close:hover, #login-form form .imgcontainer .close:focus {
  color: red;
  cursor: pointer;
}
#login-form form .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#register,
#new-anime,
#edit-anime {
  width: 100%;
  padding: 20px;
}
#register fieldset div,
#new-anime fieldset div,
#edit-anime fieldset div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#register fieldset div #profileImage,
#register fieldset div #tumbnail,
#new-anime fieldset div #profileImage,
#new-anime fieldset div #tumbnail,
#edit-anime fieldset div #profileImage,
#edit-anime fieldset div #tumbnail {
  height: 100px;
  cursor: pointer;
}
#register fieldset div #tumbnail,
#new-anime fieldset div #tumbnail,
#edit-anime fieldset div #tumbnail {
  margin-bottom: 20px;
}
#register fieldset div #imageUpload,
#new-anime fieldset div #imageUpload,
#edit-anime fieldset div #imageUpload {
  display: block;
}
#register fieldset.required label::after,
#new-anime fieldset.required label::after,
#edit-anime fieldset.required label::after {
  content: "*";
  margin-left: 5px;
  color: #e60de6;
}
#register fieldset.required.invalid input,
#new-anime fieldset.required.invalid input,
#edit-anime fieldset.required.invalid input {
  border: 2px solid red;
}
#register fieldset.required.invalid input::placeholder,
#new-anime fieldset.required.invalid input::placeholder,
#edit-anime fieldset.required.invalid input::placeholder {
  color: red;
  font-style: italic;
}
#register fieldset.required #error,
#new-anime fieldset.required #error,
#edit-anime fieldset.required #error {
  color: red;
  font-style: italic;
}
#register fieldset input[type=text],
#register fieldset input[type=password],
#register fieldset input[type=number],
#register fieldset input[type=email],
#register fieldset select,
#register fieldset textarea,
#new-anime fieldset input[type=text],
#new-anime fieldset input[type=password],
#new-anime fieldset input[type=number],
#new-anime fieldset input[type=email],
#new-anime fieldset select,
#new-anime fieldset textarea,
#edit-anime fieldset input[type=text],
#edit-anime fieldset input[type=password],
#edit-anime fieldset input[type=number],
#edit-anime fieldset input[type=email],
#edit-anime fieldset select,
#edit-anime fieldset textarea {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
}
#register fieldset input[type=text] option,
#register fieldset input[type=password] option,
#register fieldset input[type=number] option,
#register fieldset input[type=email] option,
#register fieldset select option,
#register fieldset textarea option,
#new-anime fieldset input[type=text] option,
#new-anime fieldset input[type=password] option,
#new-anime fieldset input[type=number] option,
#new-anime fieldset input[type=email] option,
#new-anime fieldset select option,
#new-anime fieldset textarea option,
#edit-anime fieldset input[type=text] option,
#edit-anime fieldset input[type=password] option,
#edit-anime fieldset input[type=number] option,
#edit-anime fieldset input[type=email] option,
#edit-anime fieldset select option,
#edit-anime fieldset textarea option {
  background-color: #1d1d1d;
}
#register input[type=submit],
#new-anime input[type=submit],
#edit-anime input[type=submit] {
  width: 100%;
}
#register a,
#new-anime a,
#edit-anime a {
  color: #08fdd8;
}
#register .row,
#new-anime .row,
#edit-anime .row {
  margin-top: 30px;
}
#register .sign-In,
#new-anime .sign-In,
#edit-anime .sign-In {
  text-align: center;
}
#register .sign-In button,
#new-anime .sign-In button,
#edit-anime .sign-In button {
  color: #08fdd8;
  background: none;
  border: none;
}
#register .sign-In button:hover,
#new-anime .sign-In button:hover,
#edit-anime .sign-In button:hover {
  text-decoration: underline;
  color: #e60de6;
}

.form-respond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-respond div {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid gray;
  color: inherit;
  background-color: #1d1d1d;
}
.form-respond div h3 {
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.form-respond div p:last-of-type {
  line-height: 20px;
  margin-bottom: 20px;
}

.liked {
  border: none;
  padding: 10px;
  border-radius: 1em;
  text-decoration: none;
  text-align: center;
  background: #08fdd8;
  filter: grayscale(80%);
}
.liked:hover {
  cursor: not-allowed;
  background-color: none;
  color: none;
}
.liked:hover + .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  position: absolute;
  visibility: hidden;
  padding: 5px;
  margin-left: 17px;
  text-align: center;
  font-style: italic;
  background-color: gray;
  color: #fff;
  border-radius: 6px;
  z-index: 1;
}
.tooltiptext::after {
  position: absolute;
  content: "";
  top: 13%;
  left: -28px;
  margin-left: -5px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent gray transparent transparent;
}
@media screen and (min-width: 768px) {
  .tooltiptext::after {
    top: 6%;
    left: -23px;
    border-width: 15px;
  }
}

.not-found {
  margin-top: 2em;
  display: grid;
  place-items: center;
}
.not-found h1 {
  font-size: 100px;
  font-weight: bold;
}
.not-found a {
  margin-top: 20px;
}
.not-found img {
  margin-left: 50px;
  height: 200px;
}

/*# sourceMappingURL=style.css.map */
